Node Flows/flows-2.json
[
    {
        "id": "7ba214f843d2fcd0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e7f4576a059b2e02",
        "type": "file in",
        "z": "7ba214f843d2fcd0",
        "name": "",
        "filename": "/Users/malsheekahawita/Academics/Y4S2/IOT/ARIMA Model/Model/forecast.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 310,
        "y": 80,
        "wires": [
            [
                "06bb857e8fdb282b"
            ]
        ]
    },
    {
        "id": "06bb857e8fdb282b",
        "type": "csv",
        "z": "7ba214f843d2fcd0",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "a8863a9c190a6ce5",
                "7c04dd8376ce59ac"
            ]
        ]
    },
    {
        "id": "a8863a9c190a6ce5",
        "type": "debug",
        "z": "7ba214f843d2fcd0",
        "name": "Debug CSV Output",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 530,
        "y": 160,
        "wires": []
    },
    {
        "id": "7c04dd8376ce59ac",
        "type": "function",
        "z": "7ba214f843d2fcd0",
        "name": "Transform Data",
        "func": "let data = msg.payload;\n\n// Check if the payload is an array\nif (!Array.isArray(data)) {\n    node.error(\"Payload is not an array\", msg);\n    return null;\n}\n\n// Transform data for chart\nlet chartData = data.map(item => {\n    return { x: new Date(item.Date).getTime(), y: parseFloat(item.Forecast) };\n});\n\n// Prepare payload for chart node\nmsg.payload = [{\n    series: [\"Heat Index\"],\n    data: [chartData.map(item => item.y)],\n    labels: chartData.map(item => new Date(item.x).toLocaleDateString())\n}];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 260,
        "wires": [
            [
                "ed84cb844d48467d",
                "c9ca41a32dcf55b6"
            ]
        ]
    },
    {
        "id": "c9ca41a32dcf55b6",
        "type": "debug",
        "z": "7ba214f843d2fcd0",
        "name": "Debug Transformed Data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 750,
        "y": 380,
        "wires": []
    },
    {
        "id": "ed84cb844d48467d",
        "type": "ui_chart",
        "z": "7ba214f843d2fcd0",
        "name": "",
        "group": "Group1",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Future Heat Index Forecast",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No data available",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#ffbb78",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "1fd3beb18f0aa962",
        "type": "inject",
        "z": "7ba214f843d2fcd0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 20,
        "wires": [
            [
                "e7f4576a059b2e02"
            ]
        ]
    },
    {
        "id": "Group1",
        "type": "ui_group",
        "name": "Heat Index Predictions",
        "tab": "Tab1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "Tab1",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]