Node Flows/flows-3.json
[
    {
        "id": "4d8d4fbc7a5c5452",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7c7b5a7aa50db2a6",
        "type": "file in",
        "z": "4d8d4fbc7a5c5452",
        "name": "",
        "filename": "/Users/malsheekahawita/Academics/Y4S2/IOT/ARIMA Model/Model/past_forecast.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 440,
        "y": 200,
        "wires": [
            [
                "aae3f7dd9c0cb178"
            ]
        ]
    },
    {
        "id": "aae3f7dd9c0cb178",
        "type": "csv",
        "z": "4d8d4fbc7a5c5452",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "49186d6ce32c27b5",
                "2c8d1b8593d815f3"
            ]
        ]
    },
    {
        "id": "49186d6ce32c27b5",
        "type": "debug",
        "z": "4d8d4fbc7a5c5452",
        "name": "Debug CSV Output",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "2c8d1b8593d815f3",
        "type": "function",
        "z": "4d8d4fbc7a5c5452",
        "name": "Transform Data",
        "func": "let data = msg.payload;\n\n// Check if the payload is an array\nif (!Array.isArray(data)) {\n    node.error(\"Payload is not an array\", msg);\n    return null;\n}\n\n// Transform data for chart\nlet chartData = data.map(item => {\n    return { x: new Date(item.Date).getTime(), y: parseFloat(item.Forecast) };\n});\n\n// Prepare payload for chart node\nmsg.payload = [{\n    series: [\"Heat Index\"],\n    data: [chartData.map(item => item.y)],\n    labels: chartData.map(item => new Date(item.x).toLocaleDateString())\n}];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 520,
        "wires": [
            [
                "ea6c5d9c4ee6b254",
                "85e8f631f7b9d9c6"
            ]
        ]
    },
    {
        "id": "85e8f631f7b9d9c6",
        "type": "debug",
        "z": "4d8d4fbc7a5c5452",
        "name": "Debug Transformed Data",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 830,
        "y": 480,
        "wires": []
    },
    {
        "id": "ea6c5d9c4ee6b254",
        "type": "ui_chart",
        "z": "4d8d4fbc7a5c5452",
        "name": "",
        "group": "Group1",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Past Heat Index Forecast",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No data available",
        "dot": false,
        "ymin": "0",
        "ymax": "150",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#ffbb78",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "65efeed684457760",
        "type": "inject",
        "z": "4d8d4fbc7a5c5452",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "7c7b5a7aa50db2a6"
            ]
        ]
    },
    {
        "id": "Group1",
        "type": "ui_group",
        "name": "Heat Index Predictions",
        "tab": "Tab1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "Tab1",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]